<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ site.baseurl | absolute_url }}/assets/css/main.css">
      <title>{{ site.data.config.site-name }}</title>
    </head>
    <body><center>
        <div align="center" class="texto-2-bold">
            {% for item in site.data.main-menu.itens %}
                [ <a href="{{ item.url }}" class="menu-link" title="{{ item.url }}">{{ item.title }}</a> ]
            {% endfor %}
        </div>
            <img class="img-logo" width="600" src="https://dummyimage.com/600x400/000/fff" alt="..[]..">
        <div class="p-title">.:: {{ site.data.config.site-name }} ::.</div>
        <hr width="600">
