<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    </head>
    <body>
        <div align="center" class="texto-2-bold">
            [ <a href="#" title="Menu1">Menu1</a> ]
            [ <a href="#" title="Menu2">Menu2</a> ]
            [ <a href="#" title="Menu3">Menu3</a> ]
            [ <a href="#" title="Menu4">Menu4</a> ]
            [ <a href="#" title="Menu5">Menu5</a> ]
            [ <a href="#" title="Menu6">Menu6</a> ]
        </div>
        <center>
            <img class="img-logo" width="600" src="https://dummyimage.com/600x400/050e73/fafafa" alt="..[]..">
        </center>
