<!DOCTYPE html>
{% include header.html %}
<div style="padding-top: 4px; padding-bottom: 4px;">
   <div class="around">
      {% include details.html %}
      <div style="border-top: 1px solid black; border-bottom: 2px solid black">
         <div class="opt" id="article">
            <strong>{ Titulo }</strong>
            : { Nome post }
         </div>
         <div class="opt-bottom">
            <strong>{ Autor }</strong>
            : { Nome autor }
         </div>
         <div class="opt-bottom">
            <strong>{ Data }</strong>
            : { Data do post }
         </div>
         <pre>
            {{ content }}
         </pre>
      </div>
   </div>
</div>
{% include footer.html %}
