<!DOCTYPE html>
{% include header.html %}
<div style="padding-top: 4px; padding-bottom: 4px;">
   <div class="around">
      {% include details.html %}
      <div style="border-top: 1px solid black; border-bottom: 2px solid black">
         <div class="opt" id="article">
            <strong>Título</strong>
            : {{ page.page-title }}
         </div>
         <div class="opt-bottom">
            <strong>Autor</strong>
            : {{ page.author }}
         </div>
         <div class="opt-bottom">
            <strong>Data</strong>
            : {{ page.date }}
         </div>
         <pre>
            {{ content }}
         </pre>
      </div>
   </div>
</div>
{% include footer.html %}
